*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
local.properties
.cxx
/.idea/.name
/app/google-services.json
/app/agconnect-services.json
/app/keystore.jks
/scripts/publish-root.gradle
app/agconnect-services_BACKUP_98529.json
app/agconnect-services_BACKUP_98633.json
app/agconnect-services_BASE_98529.json
app/agconnect-services_BASE_98633.json
app/agconnect-services_LOCAL_98529.json
app/agconnect-services_LOCAL_98633.json
app/agconnect-services_REMOTE_98529.json
app/agconnect-services_REMOTE_98633.json
app/build_BACKUP_98097.gradle
app/build_BASE_98097.gradle
app/build_LOCAL_98097.gradle
app/build_REMOTE_98097.gradle
