<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="euromsg.com.euromobileandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <receiver android:name=".notification.carousel.CarouselEventReceiver" android:exported="true" android:enabled="true"/>

    </application>
</manifest>
